<!doctype html>
<html class="no-js" lang="zh-TW">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= typeof title !== 'undefined' ? title + ' - 士林區 民間公證人 張加慶 事務所' : '士林區 民間公證人 張加慶 事務所 - 臺灣士林地方法院所屬' %></title>
    <meta name="keywords" content="<%= typeof keywords !== 'undefined' ? keywords : '民間公證人,張加慶,士林區公證人,臺灣士林地方法院,房屋租賃契約公證,房屋借用契約公證,授權書認證,委託書認證,遺囑認證,單身證明認證,離婚協議書公證,贈與契約公證' %>">
    <meta name="description" content="<%= typeof description !== 'undefined' ? description : '臺灣士林地方法院所屬民間公證人張加慶事務所，提供房屋借用契約公證、房屋租賃契約公證、授權書委託書認證、終止房屋租賃契約公證、單身證明認證、自書遺囑認證、信託契約公證、職務宿舍借用契約公證、贈與契約公證、離婚協議書公證等專業公證服務。' %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="民間公證人 張加慶">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= typeof canonicalUrl !== 'undefined' ? canonicalUrl : (typeof currentUrl !== 'undefined' ? currentUrl : 'https://yourdomain.com/') %>">
    <meta property="og:title" content="<%= typeof title !== 'undefined' ? title + ' - 士林區 民間公證人 張加慶 事務所' : '士林區 民間公證人 張加慶 事務所' %>">
    <meta property="og:description" content="<%= typeof description !== 'undefined' ? description : '臺灣士林地方法院所屬民間公證人張加慶事務所，提供專業公證服務。' %>">
    <meta property="og:image" content="<%= typeof ogImage !== 'undefined' ? ogImage : 'https://yourdomain.com/assets/img/logo/logo.png' %>">
    <meta property="og:locale" content="zh_TW">
    <meta property="og:site_name" content="士林區 民間公證人 張加慶 事務所">
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= typeof canonicalUrl !== 'undefined' ? canonicalUrl : (typeof currentUrl !== 'undefined' ? currentUrl : 'https://yourdomain.com/') %>">
    <meta property="twitter:title" content="<%= typeof title !== 'undefined' ? title + ' - 士林區 民間公證人 張加慶 事務所' : '士林區 民間公證人 張加慶 事務所' %>">
    <meta property="twitter:description" content="<%= typeof description !== 'undefined' ? description : '臺灣士林地方法院所屬民間公證人張加慶事務所，提供專業公證服務。' %>">
    <meta property="twitter:image" content="<%= typeof ogImage !== 'undefined' ? ogImage : 'https://yourdomain.com/assets/img/logo/logo.png' %>">
    
    <!-- Canonical URL -->
    <link rel="canonical" href="<%= typeof canonicalUrl !== 'undefined' ? canonicalUrl : (typeof currentUrl !== 'undefined' ? currentUrl : 'https://yourdomain.com/') %>">
    
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    
    <!-- Structured Data (Schema.org) -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LegalService",
      "name": "士林區 民間公證人 張加慶 事務所",
      "alternateName": "張加慶公證人事務所",
      "description": "臺灣士林地方法院所屬民間公證人，提供房屋租賃契約公證、房屋借用契約公證、授權書委託書認證等專業公證服務",
      "url": "https://yourdomain.com",
      "logo": "https://yourdomain.com/assets/img/logo/logo.png",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "台北市士林區",
        "addressRegion": "台北市",
        "addressCountry": "TW"
      },
      "areaServed": {
        "@type": "City",
        "name": "台北市"
      },
      "serviceType": "公證服務",
      "priceRange": "$$"
    }
    </script>
    
    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/gijgo.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/animated-headline.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <%- include("../partials/header") %>
      <%- body %>
    <%- include("../partials/footer") %>
       <!-- Scroll Up -->
       <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
      </div>
    
    <!-- JS here -->
    
    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>
    
    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>
    
    <!-- Date Picker -->
    <script src="./assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    
    <!-- counter , waypoint -->
    <script src="./assets/js/jquery.counterup.min.js"></script>
    <script src="./assets/js/waypoints.min.js"></script>
    <script src="./assets/js/jquery.countdown.min.js"></script>
    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>
    
</body>
</html>

